.features {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 30px 0;
    background: -webkit-linear-gradient(0deg, #211b19 0%, #4e3427 100%);
    background: -moz-linear-gradient(0deg, #211b19 0%, #4e3427 100%);
    background: -o-linear-gradient(0deg, #211b19 0%, #4e3427 100%);
    background: -ms-linear-gradient(0deg, #211b19 0%, #4e3427 100%);
    background: linear-gradient(90deg, #211b19 0%, #4e3427 100%);

    .item {
        min-width: 130px;
        position: relative;
        padding-bottom: 30px;
        margin: 40px 0px;
        text-align: center;
        text-decoration: none;
        z-index: 1;

        svg {
            width: 54px;
            height: 44px;

            use {
                fill: $lightbrown;
            }
        }

        .title {
            margin-top: 30px;
            color: #fff;
            font-size: 48px;
            line-height: 36px;
            font-weight: 200;
        }

        .desc {
            margin-top: 13px;
            font-size: 14px;
            line-height: 20px;
            color: $lightbrown;
            text-transform: uppercase;
            margin-bottom: 0;
        }

        &:after {
            bottom: -3px;
            height: 3px;
            width: 70px;
            left: 50%;
            transform: translateX(-50%);
            content: '';
            position: absolute;
            background-color: $softgrey;
        }

    }
    @media screen and (max-width: 991px){
        display: none;
    }
}
