.main-header {
    padding: 40px 0;

    &.slidepage {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;

    }

    #menubtn {
        display: none;
    }

    #menubtn + label {
        display: none;
    }

    .navblock {
        position: relative;

        nav {
            margin: 0 48px;

            ul {
                list-style: none;
                padding: 0;
                margin: 0;
                text-align: center;

                li {
                    display: inline-flex;
                    padding: 0 15px;
                    text-align: left;
                    a,
                    span {
                        transition: $transition;
                        font-size: 14px;
                        text-decoration: none;

                        &:hover,
                        &:active {
                            color: $lightbrown;
                        }
                    }
                }

            }
        }

        .tocart {
            margin-right: 28px;
            cursor: pointer;
            transition: $transition;

            svg {
                width: 18px;
                height: 24px;

                use {
                    transition: $transition;
                    fill: #fff;
                }
            }

            &:hover,
            &:active {
                svg {
                    use {
                        fill: $lightbrown;
                    }
                }
            }
        }

        #search {
            padding: 0 15px;
            cursor: pointer;
            background: transparent;
            border-radius: 3px;
            outline: none;
            border: none;
            position: absolute;
            top: 100%;
            line-height: 40px;
            height: 0px;
            right: 0;
            z-index: 1;
            width: 100%;
            transition: $transition;
            transform: translateY(0px);
            overflow: hidden;

            & + label {
                transition: $transition;
                cursor: pointer;
                margin: 0;
                z-index: 1;
                transition: $transition;

                svg {
                    width: 24px;
                    height: 24px;

                    use {
                        fill: #fff;
                    }
                }
            }

            &:hover {
                & + label {
                    svg {
                        use {
                            fill: $lightbrown;
                            transition: $transition;
                        }
                    }
                }
            }

            &:focus {
                background: #fff;
                height: 40px;
                transform: translateY(10px);
            }
        }
    }


}

@media screen and (max-width: 1199px) {
    .main-header {
        padding: 20px 0;

        .navblock {
            nav {
                ul {
                    li {
                        padding: 0 10px;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 1023px) {
    .main-header {
        padding-left: 65px;

        .navblock {
            transition: $transition;

            nav {
                transition: $transition;
                transform: translateX(-100%);
                margin: auto;
                position: fixed;
                z-index: 3;
                left: 0;
                top: 0;
                width: 100%;
                max-width: 200px;
                height: 100%;
                background-color: rgba(0, 0, 0, 0.9);
                overflow-y: auto;

                ul {
                    padding: 70px 0 30px;

                    li {
                        padding: 15px;
                        display: block;

                    }
                }
            }
        }

        #menubtn + label {
            display: block;
            position: fixed;
            z-index: 5;
            background: rgba(0, 0, 0, 0.3);
            width: 40px;
            height: 40px;
            left: 15px;
            cursor: pointer;
            transition: $transition;

            &:after,
            &:before {
                transition: $transition;
                content: '';
                width: 30px;
                height: 2px;
                background: #fff;
                position: absolute;
                top: 20px;
                left: 20px;
                margin-top: -1px;
                margin-left: -15px;
            }

            &:before {
                transform: translateY(-5px) rotate(0deg);
            }

            &:after {
                transform: translateY(5px) rotate(0deg);
            }

            &:hover,
            &:focus {
                &:before {
                    transform: translateY(-8px) rotate(0deg);
                }

                &:after {
                    transform: translateY(8px) rotate(0deg);
                }
            }
        }

        #menubtn:checked + label {
            &:before {
                transform: translateY(0px) rotate(45deg);
            }

            &:after {
                transform: translateY(0px) rotate(-45deg);
            }
        }

        #menubtn:checked + label ~ .navblock nav {
            transform: translateX(0);
        }
    }
}
