.services {
    position: relative;
    padding: 40px 0;

    .item {
        position: relative;
        padding-bottom: 30px;
        margin: 40px 0px;
        text-align: center;
        text-decoration: none;
        z-index: 1;
        transition: $transition;
        svg {
            width: 52px;
            height: 49px;
            use {
                transition: $transition;
                fill: $mainfontcolor;
            }
        }

        .title {
            color: $mainfontcolor;
            font-size: 22px;
            font-family: $decofont;
            margin: 1em auto;
            transition: $transition;
        }

        p {
            font-size: 14px;
            line-height: 24px;
            color: $fontgrey;
            margin-bottom: 0;
        }

        &:after {
            transition: $transition;
            bottom: -3px;
            height: 3px;
            width: 70px;
            left: 50%;
            transform: translateX(-50%);
            content: '';
            position: absolute;
            background-color: $softgrey;
        }

        &:hover,
        &:focus {
            .title {
                color: $lightbrown;
            }
            svg {
                use{
                    fill: $lightbrown;
                }
            }
            &:after {
                background-color: $lightbrown;
            }
            
        }

        &:active {
            opacity: 0.7;
        }
    }
}
