$mainfontcolor: #555555;
$fontgrey: #8c8c8c;
$lightgold: #d3c1ad;
$lightbrown: #c7b299;
$coffeebrown: #998675;
$darkbrown: #615855;
$softgrey: #f1eee9;
$airgrey: #fbfaf8;
$decofont: 'Raleway', sans-serif;
$mainfont: 'Montserrat', sans-serif;
$transition: all 0.3s ease;